include LICENSE README.rst buildout.cfg develop.cfg version.txt requirements.txt test-requirements.txt
recursive-include doc *.py *.rst
recursive-include bob/bio/base/test/data *.* *-dev *-eval *.csv
