setuptools
scipy
bob.extension
bob.blitz
bob.core
bob.io.base
bob.learn.activation
bob.math
bob.learn.linear
bob.sp
bob.learn.em
bob.measure
bob.db.base
bob.db.verification.utils
bob.db.verification.filelist
bob.db.atnt  # for test purposes
bob.io.image # for test purposes
matplotlib   # for plotting
